<!DOCTYPE html>

<html>
    <head>
        <script type="text/javascript" src="javascript.js"></script>
        <!-- Este script vai lançar um alert ao utilizador e redireciona o url -->
        <script>
            function showAlert() {
              alert("Esta conta j\u00e1 está registada!");
              location.replace("https://127.0.0.1:5000/login");
            }
        </script>
    </head>
    <!-- Onload é um metodo para antes do sistema construir o body do html deixa executar script -->
    <body onload="showAlert()">
    </body>
</html>