<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <script type="text/javascript" src="javascript.js"></script>

    <script>
      function showAlert() {
        alert("Registo Efetuado com Sucesso");
      }
    </script>
  </head>
  <body {%if new_User%} onload="showAlert()" {% endif %}>
    <div class="container">
      <header>
        <h1 class="titles">ToDo List <i class="fa-solid fa-list-check"></i></h1>
      </header>
      <div>
        <h2>Tarefas de {{user}}</h2>

        <div class="date" id="current_date">
          <script>
            document.getElementById("current_date").innerHTML = Date();
          </script>
        </div>
      </div>
      <!-- <div class="errodel">
        {%if adminDelete==False%}
        <p>Não foi possivel remover o utilizador!</p>
        {% endif %}
      </div>
      <div class="ok">
        {%if adminDelete==True%}
        <p>Utilizador removido</p>
        {% endif %}
      </div>
      {%if data%} -->
      <!-- <div>
        <table>
          <thead>
            <tr>
              <th>Email</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Salt</th>
              <th>Password(Sha256)</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            {% for item in data %}
            <tr>
              <td>{{ item.email }}</td>
              <td>{{ item.first_name }}</td>
              <td>{{ item.last_name }}</td>
              <td>{{ item.salt }}</td>
              <td>{{ item.password_hash }}</td>
              <td>{{ item.role }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="delete">
        <form id="login" action="/" method="post">
          <input type="text" id="deluser" name="deluser" placeholder="Name" />
          <input id="submit" type="submit" value="Delete" />
        </form>
      </div> 
      {% endif %}-->
      <div class="table-container">
        {%if todo%}
        <!-- TODO: alterar a tag e utilizar Css -->
        <!-- <center> -->
        <table id="tarefas" class="tabela-tarefas">
          <thead>
            <tr>
              <th style="cursor: pointer" onclick="sortTable(0)">Tarefa</th>
              <th style="cursor: pointer" onclick="sortTable(1)">Descrição</th>
              <th style="cursor: pointer" onclick="sortTable(2)">Início</th>
              <th style="cursor: pointer" onclick="sortTable(3)">Fim</th>
              <!-- <th></th>
                <th></th> -->
            </tr>
          </thead>
          <tbody>
            {% for item in todo %}
            <tr>
              <td class="espacamento">{{ item.task }}</td>
              <td class="espacamento">{{ item.task_descrition }}</td>
              <td class="espacamento">{{ item.created_at }}</td>
              <td class="espacamento">{{ item.end_at }}</td>
              <td id="fixed-width" class="button-spacing">
                <form
                  method="GET"
                  action='{{url_for("edit_todo",id=item.todo_id)}}'
                >
                  <button
                    style="cursor: pointer"
                    class="button1, button-editar"
                  >
                    Editar
                  </button>
                </form>
              </td>
              <td class="button-spacing-2" id="fixed-width">
                <form
                  method="GET"
                  action='{{url_for("delete_todo",id=item.todo_id)}}'
                >
                  <button
                    style="cursor: pointer"
                    class="button2, button-delete"
                    onclick='return confirm("Tem a certeza que deseja remover?")'
                  >
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- </center> -->
        {% endif %}
      </div>
      <div class="create-todo">
        {%if not data%}
        <p>
          <a href="https://127.0.0.1:5000/todo"
            >Criar Tarefa <span><i class="fa-solid fa-plus"></i></span
          ></a>
        </p>
        {%endif%}
      </div>
      <div class="log-out">
        <p>
          <a href="https://127.0.0.1:5000/login">Sair</a>
        </p>
      </div>
    </div>

    <script>
      //Referência https://www.w3schools.com/howto/howto_js_sort_table.asp
      function sortTable(n) {
        var table,
          rows,
          switching,
          i,
          x,
          y,
          shouldSwitch,
          dir,
          switchcount = 0;
        table = document.getElementById("tarefas");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
          // Start by saying: no switching is done:
          switching = false;
          rows = table.rows;
          /* Loop through all table rows (except the
          first, which contains table headers): */
          for (i = 1; i < rows.length - 1; i++) {
            // Start by saying there should be no switching:
            shouldSwitch = false;
            /* Get the two elements you want to compare,
            one from current row and one from the next: */
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /* Check if the two rows should switch place,
            based on the direction, asc or desc: */
            if (dir == "asc") {
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            } else if (dir == "desc") {
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            /* If a switch has been marked, make the switch
            and mark that a switch has been done: */
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            // Each time a switch is done, increase this count by 1:
            switchcount++;
          } else {
            /* If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again. */
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }
        }
      }
    </script>
  </body>
</html>
