<html>
  <head>
    <title>Home</title>
    <!-- Carregamento de fontes da google -->
    <link rel="stylesheet" href="../static/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <!-- Carregamento de icons especiais
        referência: https://fontawesome.com/icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <script type="text/javascript" src="javascript.js"></script>

    <!-- Este script envia um alerta ao utilizador -->
    <script>
      function showAlert() {
        alert("Registo Efetuado com Sucesso");
      }
    </script>
  </head>
  <!-- Antes de construir o body verifica se o servidor informou se é um novo utilizador, caso seja verdade executa o script -->
  <body {%if new_User%} onload="showAlert()" {% endif %}>
    <div class="container">
      <header>
        <h1 class="titles">ToDo List <i class="fa-solid fa-list-check"></i></h1>
      </header>
      <div>
        <!-- Apresenta o nome do utilizador enviado pelo servidor caso não receba dados da variavel data -->
        {%if not data%}
        <h2>Tarefas de {{user}}</h2>
        <!-- Class para apresentar a data e hora atual -->
        <div class="date" id="current_date">
          <script>
            document.getElementById("current_date").innerHTML = Date();
          </script>
        </div>
        {% endif %}
      </div>
      <!-- Apresenta as funções do administrador, apresenta nome e a tabela da DB com os users com role bussiness caso receba dados da variavel data -->
      <!-- Existe a possibilidade de eleminir utilizadores -->
      {%if data%}
      <h2>Pagina do Administrador</h2>
      <h3>Olá {{user}}</h3>
      <div>
        <table id="tarefas" class="tabela-tarefas">
          <thead>
            <tr>
              <!-- Chamada da funçõ que faz o sort da tabela quando é clicado o campo do título -->
              <th style="cursor: pointer" onclick="sortTable(0)">Email</th>
              <th style="cursor: pointer" onclick="sortTable(1)">First Name</th>
              <th style="cursor: pointer" onclick="sortTable(2)">Last Name</th>
              <th style="cursor: pointer" onclick="sortTable(3)">Role</th>
            </tr>
          </thead>
          <tbody>
            {% for item in data %}
            <tr>
              <!-- Carregamento dos dados provenientes da base de dados -->
              <td class="espacamento">{{ item.email }}</td>
              <td class="espacamento">{{ item.first_name }}</td>
              <td class="espacamento">{{ item.last_name }}</td>
              <td class="espacamento">{{ item.role }}</td>
              <td class="button-spacing-2" id="fixed-width">
                <form
                  method="GET"
                  action='{{url_for("deleteUser",id=item.id)}}'
                >
                  <!-- Este script executa um alert de confirmação -->
                  <button
                    style="cursor: pointer"
                    class="button2, button-delete"
                    onclick='return confirm("Tem a certeza que deseja remover?")'
                  >
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
      <div class="table-container">
        <!-- Apresenta a tabela da DB do utilizador logado com todas as tasks caso receba dados da variavel todo do servidor -->
        <!-- Existe a possibilidade de eliminar e editar tasks -->
        {%if todo%}

        <table id="tarefas" class="tabela-tarefas">
          <thead>
            <tr>
              <!-- Chamada da funçõ que faz o sort da tabela quando é clicado o campo do título -->
              <th style="cursor: pointer" onclick="sortTable(0)">Tarefa</th>
              <th style="cursor: pointer" onclick="sortTable(1)">Descrição</th>
              <th style="cursor: pointer" onclick="sortTable(2)">Início</th>
              <th style="cursor: pointer" onclick="sortTable(3)">Fim</th>
            </tr>
          </thead>
          <tbody>
            {% for item in todo %}
            <tr>
              <!-- Carregamento dos dados provenientes da base de dados -->
              <td class="espacamento">{{ item.task }}</td>
              <td class="espacamento">{{ item.task_descrition }}</td>
              <td class="espacamento">{{ item.created_at }}</td>
              <td class="espacamento">{{ item.end_at }}</td>
              <td id="fixed-width" class="button-spacing">
                <!-- Form para tratar os métodos executados pelos botões de Editar e Eliminar -->
                <form
                  method="GET"
                  action='{{url_for("edit_todo",id=item.todo_id)}}'
                >
                  <button
                    style="cursor: pointer"
                    class="button1, button-editar"
                  >
                    Editar
                  </button>
                </form>
              </td>
              <td class="button-spacing-2" id="fixed-width">
                <form
                  method="GET"
                  action='{{url_for("delete_todo",id=item.todo_id)}}'
                >
                  <button
                    style="cursor: pointer"
                    class="button2, button-delete"
                    onclick='return confirm("Tem a certeza que deseja remover?")'
                  >
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
      <!-- Botão para Criar a tarefa -->
      <div class="create-todo">
        {%if not data%}
        <p>
          <a href="https://127.0.0.1:5000/todo"
            >Criar Tarefa <span><i class="fa-solid fa-plus"></i></span
          ></a>
        </p>
        {%endif%}
      </div>
      <!-- Botão para sair -->
      <div class="log-out">
        <p>
          <a href="https://127.0.0.1:5000/login">Sair</a>
        </p>
      </div>
    </div>

    <script>
      //Referência https://www.w3schools.com/howto/howto_js_sort_table.asp
      function sortTable(n) {
        var table,
          rows,
          switching,
          i,
          x,
          y,
          shouldSwitch,
          dir,
          switchcount = 0;
        table = document.getElementById("tarefas");
        switching = true;
        // Define a ordem do sort, ascendente ou descendente:
        dir = "asc";
        /* 
        Loop que só termina quando o switching for true*/
        while (switching) {
          // inicio da variável a false:
          switching = false;
          rows = table.rows;
          /* 
          Percorre toda a tabela excepto a tabela que contém o cabeçalho*/
          for (i = 1; i < rows.length - 1; i++) {
            // inicio da variavel para trocar a false
            shouldSwitch = false;
            /* 
            Obtém e compara dois elementos, um da linha atual e outro da proxima linha*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /* 
            validação para saber se os objectos devem ser alterados ou não com base na direção, ascendente ou descendente*/
            if (dir == "asc") {
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                // se for para trocar atribui o valor true á variável shouldSwitch:
                shouldSwitch = true;
                break;
              }
            } else if (dir == "desc") {
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                // se for para trocar atribui o valor true á variável shouldSwitch:
                shouldSwitch = true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            /*  
            se for executada a troca a variavel switching passa  a true*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            // cada vez que é feita uma troca esta variável é incrementada em 1:
            switchcount++;
          } else {
            /*  
            se não for efetuada nenhuma troca e a direção for ascendente, é alterada a variável para descendente e o loop corre novamente*/
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }
        }
      }
    </script>
  </body>
</html>
