<html>
    <head>
        <title>Pratice Login Page</title>
        <link rel="stylesheet" href="../static/styles/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
          rel="stylesheet"
        />
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        />
    </head>
    <body>
        <div class="container">
            <header>
              <h1 class="titles">ToDo List <i class="fa-solid fa-list-check"></i></h1>
            </header>
            <div>
                <h2>Criar Tarefa</h2> 
            </div> 
        

        <div class="ok">
            {%if taskCreat==True%}
            <p> Tarefa Criada com sucesso </p>
            {% endif %}
        </div>
        
        <div class="login">
        <form id="login" action="/todo" method="post">
            <input type="text" 
                id="todo" 
                name="todo" value=""
                placeholder="Title"
                required><br>
            <p></p>
            <input type="text" 
                id="todoDescription" 
                name="todoDescription" value=""
                placeholder="Description"
                required><br>
            <p></p>
            <label for="startAt">Start:</label>
            <input type="date" 
                id="startAt" 
                name="startAt" value=""
                required><br>
            <p></p>
            <label for="endAt">End:</label>
            <input type="date" 
                id="endAt" 
                name="endAt" value=""
                required><br>
            <p></p>
            <input id="submit" type="submit" value="Create">
        </form>
        </div>
        <p><a href="https://127.0.0.1:5000/">Return to main page</a></p>
    </body>
</html>